/target
/classes
/checkouts
pom.xml
pom.xml.asc
package-lock.json
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/.idea/
/re-frame-interval-fx.iml
/re-frame-interval-fx-1.iml
/node_modules/
/figwheel_server.log
/tests-output/
/district-ui-ipfs.iml